CSS
 body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #e68282;
    margin: 20px;
}
.logo {
    width: 120px;
    height: 120px;
}
h1 {
    color: darkred;
    font-size: 40px;
    text-align: center;
}
.welcome {
    font-size: 20px;
    color: #444;
    margin-bottom: 20px;
    text-align: center;
}
table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}
caption {
    font-size: 28px;
    font-weight: bold;
    color: navy;
    margin: 10px;
    text-align: center;
}
th {
    background-color: navy;
    color: white;
    padding: 12px;
    text-align: center;
}
td {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}
tr:hover {
    background-color: #f2f2f2;
}
.contact {
    margin-top: 25px;
    padding: 15px;
    background-color: white;
    text-align: center;
}
footer {
    margin-top: 20px;
    background-color: navy;
    color: white;
    padding: 10px;
    text-align: center;
} 